[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings
init-hook='import sys; sys.path.insert(0, "backend")'
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    import-outside-toplevel

[FORMAT]
max-line-length=120
